<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 从 Spring Boot 环境中获取 PID，若无则显示空格 -->
    <property name="PID" value="${PID:- }"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 使用 ${PID} 替代 %pid -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %cyan(${PID}) --- [%15.15thread] %boldMagenta(%-40.40logger{39}) : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
